body {
    width: 100%;
    margin: 0;
    background-color: #F5F5F5
}

.Header {
    background-color: #477F56;
    color: white;
    text-align: center;
    padding: 20px;
}

.Navbar {
    list-style-type: none;
    line-height: 30px;
    background-color: #477F56;
    height: 100%;
    width: 15%;
    float: left;
    padding: 0px;
    overflow: auto;
    position: fixed;
}

.Navbar img {
    max-width: 100%
}

.ContentSection {
    margin-left: 15%;
    width: 1000px;
    float: left;
    padding: 10px;
}

.LeftSideBarNavigation ul {
    list-style: none;
    width: 25%;
    margin: 0;
    padding: 0;
    background-color: #477F56;
}

.LeftSideBarNavigation a {
    color: #ffffff;
    text-decoration: none;
    white-space:nowrap;
    display: block;
    font-size: 16px;
}

.LeftSideBarNavigation a.static.selected {
    background-color: white;
    color: dimgray;
    padding-right: 15px;
    padding-left: 8px;
    width: 130%;
}

.LeftSideBarNavigation a.level1 {
    padding-left: 5px !important;
    padding-right: 15px;
}

.LeftSideBarNavigation a.level1:hover{
    background-color: white;
    color: dimgray;
    width: 130%;
}

